
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<table>
        <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Reorder Level</th>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Quantity</td>
        <td>@Model.Reorder</td>
    </tr>
</table>

